<!--bootstrap class for margins-->
<div class=" header bg-dark-subtle mb-4 m-3 p-2 rounded-3 text-center">
    <!--class for bg color, bottom margins, centered text and rounded corners-->
    <h1>Please provide feedback. You may do so anonymously.</h1>
</div>

<div class="row">

    <div class="col-md-6">

        <h2>Instructions</h2>
        <p>As one of our students, your thoughts, comments and feedback are important to us.</p>
        <p>Please send them using this form.</p>
        <p>If you would like us to follow up with you, include your contact information.</p>
    </div>  <!-- end of first instructions col div-->

    <div class="col-md-6">
        <!--picking the screen size the div starts stacking at
            columns should add up to 12-->
        <form action="/submit-feedback" method="POST">
<!--            sends the submitted form to this URL-->
            <label class="form-label" for="name">Name:</label>
            <input class="form-control" id="name" name="name" type="text">
            <br>
            <label class="form-label" for="email">Email:</label>
            <input class="form-control" id="email" type="email" name="email">
            <br>
            <label class="form-label" for="comments">Questions, comments, concerns?</label>
            <br>
            <textarea class="form-control" id="comments" rows="10" cols="40" name="comments"
                      required></textarea>
            <br>
            <p class="mx-2">Are you a current student?</p>

            <div class="form-check">
                <input class="form-check-input" id="yes" value="yes" name="current" type="radio" checked>
                <label class="form-check-label" for="yes">Yes</label>
            </div>
            <!--styles the radio buttons with bootstrap classes-->
            <div class="form-check">
                <input class="form-check-input" id="no" value="no" name="current" type="radio">
                <label class="form-check-label" for="no">No</label>
            </div>

            <br>
            <input class="btn btn-primary" type="submit">
            <!--class to style something into a button-->

        </form>
    </div> <!---end of second col div tag-->

</div> <!--end of the row div that contains both columns-->
<!--all the row/col divs are to arrange the page so that the
 input boxes are in line with the instructions and that they are responsive-->

